p{
    color: blueviolet;
    text-shadow: 2px 3px navy;
    background-attachment: pink;
}
h1{
    color: green;
    text-align: center;
    border: 3px solid black;
    box-shadow: 3px 5px 10px yellowgreen;
}